.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Assurez-vous que l'overlay est au-dessus du contenu */
  }
  
  .timeline-modal-content {
    position: fixed;
    color: gray;
    bottom: 0; /* Positionner en bas de l'écran */
    left: 0;
    right: 0;
    height: 200px; /* Hauteur de la modale */
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(100%); /* Commence hors de l'écran */
    transition: transform 0.3s ease; /* Transition pour l'animation */
    z-index: 1000; 
  }
  
  .timeline-modal-content.slide-in {
    transform: translateY(0); /* Position finale */
  }
  
  .timeline-modal-content.slide-out {
    transform: translateY(100%); /* Position de sortie (hors de l'écran) */
  }